
<div class="form-group core-component-formentry-dropdown">
    <label for="{{ name|e('html_attr') }}" class="col-sm-3 control-label">{{ title }}</label>
    <div class="col-sm-6 {{ class|e('html_attr') }}">
        <select name="{{ name|e('html_attr') }}" id="{{ name|e('html_attr') }}" class="form-control {{ class|e('html_attr') }}" {{ addons|raw }} {% if readOnly %}disabled="disabled"{% endif %} {% for key, value in data %}data-{{ key }}="{{ value|e('html_attr') }}"{% endfor %}>
            <option value='' disabled {% if no_select %}selected{% endif %}>{{ data.placeholder }}</option>
            {% for key, value in options %}
                {% if key == selected and not no_select %}
                    <option value="{{ key }}" selected="selected">{{ value }}</option>
                {% else %}
                    <option value="{{ key }}">{{ value }}</option>
                {% endif %}
            {% endfor %}
        </select>
    </div>
    {% if opener %}
    <div class="col-sm-2 form-opener">
        {{ opener|raw }}
    </div>
    {% endif %}
</div>
