
<div class="form-group core-component-formentry-dropdown">
    <label for="{{ name|e('html_attr') }}" class="col-sm-3 control-label">{{ title|raw }}</label>
    <div class="col-sm-6 {{ class|e('html_attr') }}">
        <select name="{{ name|e('html_attr') }}" id="{{ name|e('html_attr') }}" class="form-control {% if icon_values %}selectpicker{% endif %} {{ class|e('html_attr') }}" {{ addons|raw }} {% if readOnly %}disabled="disabled"{% endif %} {% for key, value in data %}data-{{ key }}="{{ value|e('html_attr') }}"{% endfor %}>
            <option value='' disabled hidden {% if no_select %}selected{% endif %}>{{ data.placeholder }}</option>
            {% for key, value in options %}
                {% if key == selected and not no_select %}
                    {% if icon_values %}
                        <option data-content="{{ value }}" value="{{ key }}" selected="selected"></option>
                    {% else %}
                        <option value="{{ key }}" selected="selected">{{ value }}</option>
                    {% endif %}
                {% else %}
                    {% if icon_values %}
                        <option data-content="{{ value }}" value="{{ key }}"></option>
                    {% else %}
                        <option value="{{ key }}">{{ value }}</option>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </select>
    </div>
    {% if opener %}
    <div class="col-sm-2 form-opener">
        {{ opener|raw }}
    </div>
    {% endif %}
</div>
