
<div class="core-component-listsearch" id="{{ form_id }}">
    <div class="search">
        <input type="text" placeholder="{{ search_placeholder|escape("html_attr") }}" class="form-control">
    </div>
    <div class="result"></div>
</div>

<script type="text/javascript">
require(["jquery", "workingIndicator"], function($, workingIndicator){
    var emptyMessage = "{{ empty_placeholder|escape("js") }}";
    var searchEl = $("#{{ form_id }} > .search > input");

    var config = {
        source: function(request, response) {
            $.ajax({
                url: "{{ endpoint_url|escape("js") }}",
                type: "POST",
                dataType: "json",
                data: {
                    search_query: request.term
                },
                success: response
            });
        },
        search: function(event, ui) {
            $("#{{ form_id }} > .result").html("<div class='loadingContainer'></div>");
            workingIndicator.getInstance().start();
        },
        response: function() {
            $("#{{ form_id }} > .result").empty();
            workingIndicator.getInstance().stop();
        },
        minLength: 0,
        appendTo: "#{{ form_id }} > .result"
    };

    var auto = searchEl.autocomplete(config);

    auto.autocomplete("instance")._renderItem = function(ul, item) {
        var entry;
        if (item.link) {
            entry = $('<a>')
                .attr("href", item.link)
                .attr("rel", "tooltip")
                .attr("title", item.description)
                .html(item.icon + "&nbsp;&nbsp;" + item.description);
        } else {
            entry = $('<p>')
                .html(item.description);
        }

        return $('<div class="result-item">')
            .data('item.autocomplete', item)
            .append(entry)
            .appendTo($("#{{ form_id }} > .result"));
    };

    searchEl.autocomplete("search", "");
});
</script>

