
<div class="core-component-listsearch" id="{{ form_id }}">
    <div class="search">
        <input type="text" placeholder="{{ search_placeholder|escape("html_attr") }}" class="form-control">
    </div>
    <div class="result"></div>
</div>

<script type="text/javascript">
require(["jquery"], function($){
    var emptyMessage = "{{ empty_placeholder|escape("js") }}";
    var searchEl = $("#{{ form_id }} > .search > input");
    var auto = searchEl.autocomplete({
        source: "{{ endpoint_url|escape("js") }}",
        search: function(event, ui) {
            $("#{{ form_id }} > .result").html("<div class='loadingContainer'></div>");
        },
        response: function() {
            $("#{{ form_id }} > .result").empty();
        },
        minLength: 0,
        appendTo: "#{{ form_id }} > .result"
    });

    auto.autocomplete("instance")._renderItem = function(ul, item) {
        var href;
        var itemUrl = "{{ item_url|escape("js") }}";
        if (item.systemid) {
            var url = itemUrl.replace("{systemid}", item.systemid);
            href = "<a href='" + url + "' title='" + item.title + "'>" + item.icon + " " + item.title + "</a>";
        } else {
            href = item.title;
        }

        return $('<div class="result-item">')
            .data('item.autocomplete', item)
            .append(href)
            .appendTo($("#{{ form_id }} > .result"));
    };

    searchEl.autocomplete("search", "");
});
</script>

