
<div class="form-group core-component-formentry-inputtext">
    <label for="{{ name }}" class="col-sm-3 control-label">{{ title }}</label>
    <div class="col-sm-6 {{ class }}">
        <input type="{{ type }}" id="{{ name }}" name="{{ name }}" value="{{ value }}" class="form-control" {% if readOnly %}readonly{% endif %} {% for key, value in data %}data-{{ key }}="{{ value|e('html_attr') }}"{% endfor %}>
    </div>
    {% if opener %}
    <div class="col-sm-2 form-opener">
        {{ opener }}
    </div>
    {% endif %}
</div>
