<div id="{{ name }}" class="fileupload-wrapper core-component-inputuploadmultiple">
    <label for="{{ name }}" class="control-label">{{ title }}</label>
    <div class="fileupload-buttonbar drop-zone">

        <span class="btn btn-default fileinput-button">
           <i class="fa fa-plus-square"></i>
           <span>[lang,mediamanager_upload,mediamanager]</span>
           <input type="file" name="{ name }}" multiple>
        </span>

        <button type="submit" class="btn btn-default start" style="display: none;">
            <i class="fa fa-upload"></i>
            <span>[lang,upload_multiple_uploadFiles,mediamanager]</span>
        </button>

        <button type="reset" class="btn btn-default cancel" style="display: none;">
            <i class="fa fa-ban"></i>
            <span>[lang,upload_multiple_cancel,mediamanager]</span>
        </button>

        <span class="fileupload-process"></span>
        <div class="alert alert-info">
            [lang,upload_dropArea,mediamanager]<br/>
            {{ allowedExtensions }}
        </div>
    </div>

    <div class="fileupload-progress" style="display: none;">

        <div class="progress" aria-valuemin="0" aria-valuemax="100">
            <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="0" aria-valuemin="0"
                 aria-valuemax="100" style="width:0%;"></div>
        </div>

        <div class="progress-extended">&nbsp;</div>
    </div>

    <table class="table admintable table-striped-tbody files"></table>

    <div class="hidden fileupload-list-template">
        <table>
            <tbody class="template-upload fade">
            <tr>
                <td><span class="preview"></span></td>
                <td><p class="name"></p>
                    <div class="error"></div>
                </td>
                <td><p class="size"></p>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="0"
                             aria-valuemin="0" aria-valuemax="100" style="width: 0%;"></div>
                    </div>
                </td>
                <td>
                    <button class="btn start " disabled style="display: none;">Start</button>
                    <button class="btn cancel ">[lang,upload_multiple_cancel,mediamanager]</button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <script type="text/javascript">
        (function () {
            var filesToUpload = 0;
            var uploader = Fileupload.initUploader({
                baseElement: $('#{{ name }}'),
                paramName: '{{ name }}',
                formData: [
                    {name: 'systemid', value: '{{ mediamanagerRepoId }}'},
                    {name: 'inputElement', value: '{{ name }}'}
                ],

                maxFileSize: {{ maxFileSize }},
                acceptFileTypes: {{ acceptFileTypes|raw }},
                uploadTemplate: function (o) {
                    var rows = $();
                    $.each(o.files, function (index, file) {
                        var row = $('#{{ name }} .fileupload-list-template .template-upload').clone();
                        row.find('.name').text(file.name);
                        row.find('.size').text(o.formatFileSize(file.size));
                        if (file.error) {
                            row.find('.error').text(file.error);
                        }
                        rows = rows.add(row);
                    });
                    return rows;
                }
            });

            uploader.getUploader()
                .bind('fileuploadadded', function (e, data) {
                    $(this).find('.fileupload-buttonbar button.start').css('display', '');
                    $(this).find('.fileupload-buttonbar button.cancel').css('display', '');
                    $(this).find('.fileupload-progress').css('display', '');
                    filesToUpload++;
                })
                .bind('fileuploadfail', function (e, data) {
                    filesToUpload--;
                    $(this).trigger('kajonahideelements');
                })
                .bind('fileuploaddone', function (e, data) {
                    filesToUpload--;
                    $(this).trigger('kajonahideelements');
                })
                .bind('fileuploadstop', function (e) {
                    $(this).trigger('kajonahideelements');
                    document.location.reload();
                })
                .bind('kajonahideelements', function () {
                    if (filesToUpload == 0) {
                        $(this).find('.fileupload-buttonbar button.start').css('display', 'none');
                        $(this).find('.fileupload-buttonbar button.cancel').css('display', 'none');
                        $(this).find('.fileupload-progress').css('display', 'none');
                    }
                });
        })();

    </script>
</div>

