
<div class="form-group form-list core-component-formentry-objectlist">
    <label for="{{ name }}" class="col-sm-3 control-label">{{ title|raw }}</label>
    <div class="col-sm-6 inputText">
        <div class="inputContainer">
            <table id="{{ name }}" data-name="{{ name }}" class="table table-striped form-control" data-max-values="{{ maxValues }}">
                <colgroup>
                    <col width="20" />
                    <col width="*" />
                    {% if not readOnly %}<col width="20" />{% endif %}
                    {% if not readOnly and row.editLink %}<col width="20" />{% endif %}
                    {% if row.detailLink %}<col width="20" />{% endif %}
                </colgroup>
                <tbody>
                {% for row in rows %}
                <tr data-kajona-systemid="{{ row.systemid }}">
                    <td class="listimage">{{ row.icon|raw }}</td>
                    <td class="title">{% if row.path %}<div class="smaller">{{ row.path }}</div>{% endif %} {{ row.displayName }} <input type="hidden" name="{{ name }}[]" value="{{ row.systemid }}" /></td>
                    {% if not readOnly %}<td class="icon-cell">{{ row.removeLink|raw }}</td>{% endif %}
                    {% if not readOnly and row.editLink %}<td class="icon-cell">{{ row.editLink|raw }}</td>{% endif %}
                    {% if row.detailLink %}<td class="icon-cell">{{ row.detailLink|raw }}</td>{% endif %}
                </tr>
                {% endfor %}
                </tbody>
            </table>
            <input type="hidden" name="{{ name }}_empty" value="1">
            <input type="hidden" name="{{ name }}_cd" class="initval-marker" value="{{ initval }}">
        </div>
        {% if endpointUrl and not readOnly %}
        <div class="form-group">
            <div class="col-sm-12">
                <div class="input-search">
                    <input type="text" id="{{ name }}_search" name="{{ name }}_search" placeholder="{{ searchInputPlaceholder }}" class="form-control">
                </div>
            </div>
        </div>
        {% endif %}
    </div>
    <div class="col-sm-2 form-opener">
        {% if addLink and not readOnly %}{{ addLink|raw }}{% endif %}
        {% if removeAllLink and not readOnly %}{{ removeAllLink|raw }}{% endif %}
    </div>

    <script type="text/javascript">
    {% if endpointUrl and not readOnly %}
                 var objConfig = new V4skin.defaultAutoComplete();
            objConfig.source = function(request, response) {
                $.ajax({
                    url: '{{ endpointUrl|raw }}',
                    type: 'POST',
                    dataType: 'json',
                    data: {
                        filter: request.term,
                        objecttypes: {{ objectTypes|raw }}
                    },
                    success: response
                });
            };

            objConfig.select = function(event, ui) {
                if (ui.item) {
                    var path = $("<span/>").html(ui.item.path).text();
                    Folderview.setObjectListItems('{{ name }}', [{
                        strSystemId: ui.item.systemid,
                        strDisplayName: ui.item.title,
                        strIcon: ui.item.icon,
                        strPath: path,
                    }], null, {{ deleteIcon|raw }});
                    // clear input field and set focus
                    $(this).val('').focus();
                }
                return false;
            };

            $('#{{ name }}_search').autocomplete(objConfig).data('ui-autocomplete')._renderItem = function( ul, item ) {
                return $( '<li></li>' )
                    .data('ui-autocomplete-item', item)
                    .append("<div class='ui-autocomplete-item'><div class='smaller'>" + item.path + "</div>" + item.icon + " " + item.title + "</div>")
                    .appendTo(ul);
            } ;
    {% endif %}

        var updateMandatory = function($objInput) {
                var $input = $objInput.closest('.inputContainer');
                if ($input && $objInput.hasClass('mandatoryFormElement')) {
                    $input.addClass('mandatoryFormElement');
                }
            };

            //listen on mandatory change events
            var $objInput = $("#{{ name }}");
            $objInput.on('kajona.forms.mandatoryAdded', function() {
                updateMandatory($(this));
            });
            updateMandatory($objInput);
    </script>
</div>
