<div class='core-component-dynamicmenu dropdown' id='{{ menuid }}'>
    <a href='#' class='navbar-link' data-toggle='dropdown'>{{ button|raw }}</a>
    <div class='core-component-menu dropdown-menu generalContextMenu' role='menu' id='{{ menuid }}-menu'></div>
    <script type="text/javascript">
    $("#{{ menuid }}").on("show.bs.dropdown", function () { Ajax.loadUrlToElement("#{{ menuid }}-menu", "{{ endpoint|raw }}"); });
    </script>
</div>