
<div class="core-component-grid {{ class }}" id="{{ id }}">
    {% for row in rows %}
    <div class="row">
        {% for key, column in row %}
        <div class="col col-sm-{{ column_widths[key] }}">
            {{ column|raw }}
        </div>
        {% endfor %}
    </div>
    {% endfor %}
    {% if limitHeight == true %}
        <script type="text/javascript">
          $('#{{ id }} .col').css("max-height", ($(window).height()-150)).css("overflow-x", "auto");
        </script>
    {% endif %}
</div>
