<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Kajona Installer</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="noindex, nofollow" />
    <meta name="generator" content="Kajona Core, https://github.com/artemeon/core" />

    {{ head|raw }}
    <script src="_webpath_/files/extract/assets/less.min.js?_system_browser_cachebuster_"></script>
    <script src="_webpath_/files/extract/assets/agp.min.js?_system_browser_cachebuster_"></script>
</head>
<body class="installer">
<div id="vueContainer"></div>

<div class="navbar navbar-fixed-top hidden-sm hidden-xs">
    <div class="container">
        <ul class="navbar-nav">

            {# before [flag] true = class="done" (status) #}
            {% set flag = false %}

            {% for i,v in installer_sections %}

                {% if currentCommand == i %}

                    <li class="active"><a href="#">{{ v }}</a></li>
                    {% set flag = true %}

                {% else %}

                    {% if flag %}
                        <li><a href="#">{{ v }}</a></li>
                    {% else %}
                        <li class="done"><a href="#">{{ v }}</a></li>
                    {% endif %}

                {% endif %}

            {% endfor %}

            {{ installer_progress|raw }}
        </ul>
    </div>
</div>

<div class="container-fluid">
    <div class="row">

        <!-- CONTENT CONTAINER -->
        <div class="col-md-8 center-block" id="content">

            <div class="panel panel-default" id="loginContainer">
                <div class="panel-header">
                    <h2 id="loginContainer_title">Kajona Core Installer {{ installer_version|raw }}</h2>
                </div>
                <div class="panel-body">
                    <div id="loginContainer_content">

                        {{ installer_output|raw }}

                        {% if logfile %}
                            <div class="col-sm-12" id="systemlog">
                                <pre class="code pre-scrollable"><b>{{ systemlog|raw }}</b><br />{{ log_content|raw }}</pre>
                            </div>
                            <script type="text/javascript">
                                var systemlogDiv = document.getElementById("systemlog");
                                systemlogDiv.scrollTop = systemlogDiv.scrollHeight;
                            </script>
                        {% endif %}

                    </div>
                </div>
                <div class="panel-footer">
                    {% if installer_backward %}
                        <a href="{{ installer_backward['href'] }}" class="btn btn-default">{{ installer_backward['text'] }}</a>
                    {% endif %}

                    {% if installer_forward %}
                        <a href="{{ installer_forward['href'] }}" class="btn btn-primary pull-right">{{ installer_forward['text'] }}</a>
                    {% endif %}
                </div>
            </div>

        </div>
    </div>

    <footer>
        <a href="https://github.com/artemeon/core" target="_blank">Kajona Core Framework</a>
    </footer>
</div>

    <script type="text/javascript">
        App.init();
    </script>
</body>
</html>
