<form action="_webpath_/installer.php?step=install" method="POST">
    <table class="table table-striped table-condensed table-hover" cellpadding="0" cellspacing="0">

        {% for i,v in section_array %}
            {% if v['section'] == 1 %}

                <tr>
                    <td width="30px;"><input class="checkbox" type="checkbox" name="moduleInstallBox[installer_{{ v["module_nameShort"]|raw }}]" id="moduleInstallBox[installer_{{ v["module_nameShort"]|raw }}]" checked="checked"/></td>
                    <td onclick="document.getElementById('moduleInstallBox[installer_%%module_nameShort%%]').click();">{{ v["module_name"]|raw }}</td>
                    <td onclick="document.getElementById('moduleInstallBox[installer_%%module_nameShort%%]').click();">V {{ v["module_version"]|raw }}</td>
                    <td onclick="document.getElementById('moduleInstallBox[installer_%%module_nameShort%%]').click();">{{ v[" module_hint"]|raw }}</td>
                </tr>

            {% else %}

                <tr>
                    <td width="30px;"></td>
                    <td valign="bottom">{{ v["module_name"]|raw }}</td>
                    <td>V {{ v["module_version"]|raw }}</td>
                    <td>{{ v["module_hint"]|raw }}</td>
                </tr>

            {% endif %}
        {% endfor %}

    </table>

    <div class="form-group">
        <label class="col-sm-4 control-label"></label>
        <div class="col-sm-6">
            <button type="submit" class="btn savechanges">
                <span class="btn-text">{{ "installer_install"|lang("installer") }}</span>
                <span class="statusicon"></span>
            </button>
        </div>
    </div>
</form>