
<div class="core-component-widget" data-systemid="{{ widgetId }}">
    <div class=" well well-sm">
        <h2 class="">{{ title }}</h2>
        <div class="adminwidgetactions pull-right">
            {{ menu|raw }}
        </div>
        <div class="additionalNameContent">{{ subTitle|raw }}</div>
        <div class="contentSeparator"></div>
        <div class="content">
            {{ content }}
        </div>
    </div>
</div>