<table class="  core-component-dtable
                table
                table-striped{% if withTbody %}-tbody {% endif %}
                table-condensed
                kajona-data-table
                {% if tableCssAddon!="" %}{{ tableCssAddon }}{% endif %}">
    <thead>
    {% set i = 0 %}
    {% for header in headers %}
        <tr class="header-{{ i }}">
            {% set j = 0 %}
            {% for cell in header.cells %}
                <th {% if cell.styleAddon!="" %} style="{{ cell.styleAddon }}" {% endif %}
                        {% if cell.colspan > 0 %} colspan="{{ cell.colspan }}" {% endif %}
                        {% if cell.rowspan > 0 %} rowspan="{{ cell.rowspan }}" {% endif %}
                        {% if cell.tooltip!="" %} title="{{ cell.tooltip }}"{% endif %}
                        class="col-{{ j }}{% if cell.classAddon!="" %} {{ cell.classAddon }}{% endif %}">
                    {{ cell.value | raw }}
                </th>
                {% set j = j + 1 %}
            {% endfor %}
        </tr>
        {% set i = i + 1 %}
    {% endfor %}
    </thead>
    {% set i = 0 %}
    {% for row in rows %}
        <tr data-systemid="{{ i }}" {% if row.classAddon!="" %} class="{{ row.classAddon }}"{% endif %}>
            {% set j = 0 %}
            {% for cell in row.cells %}
                <td {% if cell.styleAddon!="" %} style="{{ cell.styleAddon }}" {% endif %}
                        {% if cell.colspan > 0 %} colspan="{{ cell.colspan }}" {% endif %}
                        {% if cell.rowspan > 0 %} rowspan="{{ cell.rowspan }}" {% endif %}
                        {% if cell.tooltip!="" %} title="{{ cell.tooltip }}"{% endif %}
                        class="col-{{ j }}{% if cell.classAddon!="" %} {{ cell.classAddon }}{% endif %}">
                    {{ cell.value | raw }}
                </td>
                {% set j = j + 1 %}
            {% endfor %}
        </tr>
        {% set i = i + 1 %}
    {% endfor %}
</table>

{% if floatThead %}
<script type="text/javascript">
        $('table.core-component-datatable:not(.kajona-data-table-ignore-floatthread)').floatThead({
            scrollingTop: $("body.dialogBody").length > 0 ? 0 : 70,
            useAbsolutePositioning: true
        });
</script>
{% endif %}