
<div class="form-group core-component-formentry-inputonoff">
    <label for="{{ name|e('html_attr') }}" class="col-sm-3 control-label">{{ title|raw }}</label>
    <div class="col-sm-6">
        <div id="div_{{ name|e('html_attr') }}">
            <input type="checkbox" name="{{ name|e('html_attr') }}" value="checked" id="{{ name|e('html_attr') }}" {% if class %}class="{{ class|e('html_attr') }}"{% endif %} {% if checked %}checked{% endif %} {% if readOnly %}disabled{% endif %} {% for key, value in data %}data-{{ key }}="{{ value|e('html_attr') }}"{% endfor %}>
        </div>
    </div>
    {% if opener %}
    <div class="col-sm-2 form-opener">
        {{ opener|raw }}
    </div>
    {% endif %}
    <script type="text/javascript">
            var divId = '{{ name }}';
            divId = '#' + divId.replace( /(:|\.|\[|\])/g, "\\$1" );
            $(divId).bootstrapSwitch();
            $(divId).on('switchChange.bootstrapSwitch', function (event, state) {
                {{ callback|raw }}
            });
    </script>
</div>
