
<div class="form-group core-component-formentry-listeditor">
    <label for="{{ name }}" class="col-sm-3 control-label">{{ title|raw }}</label>
    <div class="col-sm-6">
        <div id="{{ name }}-container">
            {% for key, item in items %}
            <div class="item">
                {% if not readOnly %}
                <div class="input-group">
                    <input type="text" name="{{ name }}[{{ key }}]" value="{{ item }}" data-entryindex="{{ key }}" class="form-control">
                    <div class="input-group-addon">
                        <a href="#" onclick="$(this).closest('.item').remove();return false;">
                            <span class="kj-icon fa fa-trash-o"></span>
                        </a>
                    </div>
                    <div class="input-group-addon">
                        <a href="#">
                            <span class="kj-icon fa fa-arrows ui-sortable-handle"></span>
                        </a>
                    </div>
                </div>
                {% else %}
                <input type="text" name="{{ name }}[{{ key }}]" value="{{ item }}" data-entryindex="{{ key }}" readonly class="form-control">
                {% endif %}
            </div>
            {% endfor %}
        </div>
        {% if not readOnly %}
        <span class="listButton">
            <a href="#" id="{{ name }}-add"><span class="kj-icon fa fa-plus-circle"></span></a>
        </span>
        {% endif %}
    </div>
    <div class="col-sm-2 form-opener">
    </div>

    {% if not readOnly %}
    <script type="text/javascript">

            $("#{{ name }}-add").click(function(){
                var id = Util.generateSystemId();
                {% if continuousIndexes %}
                    var maxIndex = $("#{{ name }}-container .item").length + 1;
                    $("#{{ name }}-container .item .form-control").each(function() {
                        var cur = $(this).data('entryindex');
                        if (cur >= maxIndex) {
                            maxIndex = cur+1;
                        }
                    });
                    id = maxIndex;
                {% endif %}
                var html = "<div class=\"item\">";
                html+= "<div class=\"input-group\">";
                html+= "    <input type=\"text\" name=\"{{ name }}[" + id + "]\" value=\"\" data-entryindex=\""+id+"\" class=\"form-control\">";
                html+= "    <div class=\"input-group-addon\">";
                html+= "        <a href=\"#\" onclick=\"$(this).closest('.item').remove();return false;\">";
                html+= "            <span class=\"kj-icon fa fa-trash-o\"></span>";
                html+= "        </a>";
                html+= "    </div>";
                html+= "</div>";
                html+= "</div>";

                $("#{{ name }}-container").append(html);

                return false;
            });

            $("#{{ name }}-container").sortable({
                items: '.item',
                handle: 'span.fa-arrows',
                cursor: 'move'
            });
    </script>
    {% endif %}
</div>
