
<div class="form-group core-component-formentry-buttonbar">
    <label for="{{ name|e('html_attr') }}[]" class="col-sm-3 control-label">{{ title }}</label>
    <div class="col-sm-6 {{ class|e('html_attr') }}">
        <div class="btn-group buttonbar" data-toggle="buttons">
        {% for key, value in options %}
            {% if key in selected %}
                <label class="btn btn-primary active {{ class }} {% if readOnly %}disabled{% endif %}">
                    <input type="{{ type }}" name="{{ name }}[]" value="{{ key }}" checked="checked" {% if readOnly %}disabled{% endif %} {{ addon|raw }}> {{ value }}
                </label>
            {% else %}
                <label class="btn btn-primary {{ class }} {% if readOnly %}disabled{% endif %}">
                    <input type="{{ type }}" name="{{ name }}[]" value="{{ key }}" {% if readOnly %}disabled{% endif %} {{ addon|raw }}> {{ value }}
                </label>
            {% endif %}
        {% endfor %}
        </div>
    </div>
    {% if opener %}
    <div class="col-sm-2 form-opener">
        {{ opener|raw }}
    </div>
    {% endif %}
</div>
