<div class="core-component-stackeddatabar" style="width: {{ width }}">
    <div class="progress">
        {% for val in data %}
            <div class="progress-bar" id="{{ val.id }}" data-width="{{ val.proc }}" data-handler="{{ val.dataPointHandler }}"
                 style="background-color:{{ val.color }};">
                {{ val.value }}
            </div>
        {% endfor %}
    </div>
    <script type="text/javascript">
            var onClickURLHandler = function () {
                dataPointHandler = $(this).attr('data-handler');
                if (dataPointHandler && dataPointHandler != null && dataPointHandler != "") {
                    Folderview.dialog.setContentIFrame(dataPointHandler);
                    Folderview.dialog.setTitle('');
                    Folderview.dialog.init();
                }
            };

            {% for val in data %}
            Tooltip.addTooltip($('#{{ val.id }}'), "<div>{{ title }}<br>{{ val.label }}: <b>{{ val.value }}</b></div>");
            $("#{{ val.id }}").click(onClickURLHandler);
            {% endfor %}

            $(document).ready(function() {
                setTimeout(function() {
                    $(".core-component-stackeddatabar div.progress-bar").each(function(){
                        $(this).width($(this).attr('data-width')+'%');
                    });
                }, 50);
            });
        
    </script>
</div>
